body {
    margin-top: 56px;
}

.feature {
    padding: 1em 0;
    background: linear-gradient(180deg, #FFFFFF 0%, #F9F9F9 100%);
    border-bottom: 1px solid #CCCCCC;
}

.supported { color: green; }
.not-supported { color: red; }